.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 0.5s;
  animation-fill-mode: forwards;
  min-width: 10px;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;

  &:hover {
    animation: rubberBand 1s;
    color: #feb653;
  }
}

@for $i from 0 through 33 {
  .text-animate._#{$i} {
    animation-delay: calc($i / 10) s;
  }
}
