.logo-container {
  z-index: 0;
  width: 500px;
  height: 400px;
  position: absolute;
  top: 40%;
  right: 13%;
  bottom: 10px;
  left: auto;
  margin: auto;
  //   opacity: 0;

  svg {
    width: 190%;
    margin-right: 0;
    height: auto;
    bottom: 0;
    // transform: rotateZ(30deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    transform: rotate(-20deg);
    z-index: 1;
  }
}
.svg-container {
  stroke: #feb653;
  stroke-width: 2px;
}
